body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D5E1EF;
    margin-top: 100px;
}

.card {
    max-width: 250px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}
.icon {
    max-width: 100px;
    margin-top: -300px;
    margin-left: 122px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

h1 {
    color: #0f0f0f;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h3 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14.5px;
}